<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>New Upload</title>
  </head>
  <body>
    <%- include _nav.ejs %>

    <div class="container">
      <div id="upload-form">
        <h1>Upload Model</h1>
        <hr />
        <p>All formats will be converted to PMML</p>
        <button id="upload-sklearn-pickle-btn" data-modeltype="sklearn_pickle">
          Upload sklearn pickle file
        </button>
        <button id="upload-pmml-btn" data-modeltype="pmml">
          Upload PMML file
        </button>

        <form id="main-upload-form" style="display:none;" method="post" action="upload" enctype="multipart/form-data">
          <input type="hidden" name="modeltype" />
          <input type="file" name="model_file" />
          <input type="submit" value="Upload" />
        </form>
      </div>
    </div>

    <%- include _scripts.ejs %>
  </body>
</html>